# Introduction

The dataset that we'll be looking at is a list of job candidates arriving to their interviews.  The users are based in India and deals with industries from Finance and Medical to IT.

Upon looking at the data, it was noted that there is data that needs to cleaned.  A clean dataset would allow for better data for EDA and model training.  This journel will primarly focus on how we'll clean the dataset.

## Setting up our environment

We'll use Python and pandas to perform our data wrangling.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Interview.csv')
df.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

# Data Wrangling

To make the journel more readable, we'll be splitting this section into four parts:

* __[Time](#timetag)__ - Reformatting the time field to be consistent among all rows.
* __[Useless columns](#columntag)__ - Remove columns that hold no information.
* __[Retrieving all possible values for each field](#fieldtag)__ - A mini-EDA for our data.
* __[Cleaning our dataset](#datatag)__ - Removing redundancy in our dataset.

## Time <a name="timetag"></a>

Let's first convert the dates into a usable format.

In [3]:
# If we don't run the code in a try block, jupyter will stop executing
try:
    pd.to_datetime(df["Date of Interview"],format='%d.%m.%Y')
except ValueError as e:
    print(e)

time data '25.05.16' does not match format '%d.%m.%Y' (match)

Notice that not all of our dates are in a consistent format.  Let's convert them to the format dd-mm-yyyy before converting.

In [4]:
df["Date of Interview"] = df["Date of Interview"].str.replace(".","-")

# Extract the year and add 20 to the beginning of each string
# We only need to extract the last four digits.
tmp = df["Date of Interview"].str.extract(".*-(\d+)", expand=False)
tmp = np.array([("20" + date)[-4:] if type(date) == str else date for date in tmp ])
# Remodify the Series
df["Date of Interview"] = df["Date of Interview"].str.extract("(\d+-\d+-)\d+", expand=False) + tmp

# Now do the conversion
df["Date of Interview"] = pd.to_datetime(df["Date of Interview"],format="%d-%m-%Y")
df.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

## Useless columns <a name="columntag"></a>

I notice that there are few additional columns (Unnamed: 23-27) that were accidentally added.  Let's remove these columns

In [5]:
retainColumns = df.columns.values[:-5]

# This is to prevent removing useful columns
if len(retainColumns) == 23:
    df = df[retainColumns]
    
print(len(df))
df.head()

1234

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Have you obtained the necessary permission to start at the required time,Hope there will be no unscheduled meetings,Can I Call you three hours before the interview and follow up on your attendance for the interview,Can I have an alternative number/ desk number. I assure you that I will not trouble you too much,Have you taken a printout of your updated resume. Have you read the JD and understood the same,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,Na,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married

## Retrieving all possible values for each field <a name="fieldtag"></a>

Let's look at our other fields to get a gist on what our dataset contains.  First, we will display the first limited number of unique values for each column.

In [6]:
def getUniqueValueFormatter(column, limit = 10):
    values = df[column].unique()
    # Make sure that there the limit is capped at the max number of unique values
    if limit > len(values):
        limit = len(values)
    if len(values) > limit:
        values = values[:limit]
    print("Column {} contains values:".format(column))
    for value in values:
        print("\t *{}".format(value))

for column in df.columns[1:]:
    getUniqueValueFormatter(column)

Column Client name contains values:
	 *Hospira
	 *Aon Hewitt
	 *UST
	 *Standard Chartered Bank
	 *ANZ
	 *Pfizer
	 *Standard Chartered Bank Chennai
	 *Aon hewitt Gurgaon
	 *Astrazeneca
	 *Flextronics
Column Industry contains values:
	 *Pharmaceuticals
	 *IT Services
	 *BFSI
	 *IT Products and Services
	 *Electronics
	 *Telecom
	 *IT
	 *nan
Column Location contains values:
	 *Chennai
	 *Gurgaon
	 *Bangalore
	 *Hyderabad
	 *Gurgaonr
	 *Delhi
	 *chennai
	 *- Cochin-
	 *Noida
	 *CHENNAI
Column Position to be closed contains values:
	 *Production- Sterile
	 *Selenium testing
	 *Dot Net
	 *AML
	 *Trade Finance
	 *Routine
	 *Niche
	 *nan
Column Nature of Skillset contains values:
	 *Routine
	 *Oracle
	 *Accounting Operations
	 *Banking Operations
	 *Fresher
	 *AML/KYC/CDD
	 *CDD KYC
	 *Biosimiliars
	 *RA Label
	 *RA Publishing
Column Interview Type contains values:
	 *Scheduled Walkin
	 *Scheduled
	 *Walkin
	 *Scheduled Walk In
	 *Sceduled walkin
	 *Walkin
	 *nan
Column Name(Cand ID) contains values:
	 *Candidate 1
	 *Candidate 2
	 *Candidate 3
	 *Candidate 4
	 *Candidate 5
	 *Candidate 6
	 *Candidate 7
	 *Candidate 8
	 *Candidate 9
	 *Candidate 10
Column Gender contains values:
	 *Male
	 *Female
	 *nan
Column Candidate Current Location contains values:
	 *Chennai
	 *Gurgaon
	 *Bangalore
	 *Hyderabad
	 *Delhi
	 *chennai
	 *- Cochin-
	 *Noida
	 *CHENNAI
	 *chennai
Column Candidate Job Location contains values:
	 *Hosur
	 *Bangalore
	 *Chennai
	 *Gurgaon
	 *Visakapatinam
	 *- Cochin-
	 *Noida
	 *nan
Column Interview Venue contains values:
	 *Hosur
	 *Gurgaon
	 *Bangalore
	 *Chennai
	 *Hyderabad
	 *- Cochin-
	 *Noida
	 *nan
Column Candidate Native location contains values:
	 *Hosur
	 *Trichy
	 *Chennai
	 *Gurgaon
	 *Noida
	 *Delhi /NCR
	 *Cochin
	 *Trivandrum
	 *Bangalore
	 *Coimbatore
Column Have you obtained the necessary permission to start at the required time contains values:
	 *Yes
	 *nan
	 *No
	 *Not yet
	 *Yet to confirm
	 *NO
	 *yes
	 *Na
Column Hope there will be no unscheduled meetings contains values:
	 *Yes
	 *Na
	 *No
	 *nan
	 *yes
	 *Not Sure
	 *cant Say
	 *Not sure
Column Can I Call you three hours before the interview and follow up on your attendance for the interview contains values:
	 *Yes
	 *nan
	 *No
	 *No Dont
	 *Na
	 *yes
Column Can I have an alternative number/ desk number. I assure you that I will not trouble you too much contains values:
	 *Yes
	 *nan
	 *No
	 *No I have only thi number
	 *na
	 *yes
	 *Na
Column Have you taken a printout of your updated resume. Have you read the JD and understood the same contains values:
	 *Yes
	 *nan
	 *No
	 *No- will take it soon
	 *Not yet
	 *na
	 *yes
	 *Na
	 *Not Yet
Column Are you clear with the venue details and the landmark. contains values:
	 *Yes
	 *nan
	 *No
	 *No- I need to check
	 *na
	 *yes
	 *Na
	 *no
Column Has the call letter been shared contains values:
	 *Yes
	 *nan
	 *Havent Checked
	 *No
	 *Need To Check
	 *Not sure
	 *Yet to Check
	 *Not Sure
	 *Not yet
	 *no
Column Expected Attendance contains values:
	 *Yes
	 *Uncertain
	 *No
	 *NO
	 *yes
	 *nan
	 *11:00 AM
	 *10.30 Am
Column Observed Attendance contains values:
	 *No
	 *Yes
	 *yes
	 *no
	 *yes
	 *No
	 *NO
	 *no
	 *nan
Column Marital Status contains values:
	 *Single
	 *Married
	 *nan

We notice that there is always at least one record containing nan for a column.  Let's see how many missing values we have for each column.

In [7]:
for column in df.columns[1:]:
    print("{} record(s) missing for column {}".format(df[column].isnull().sum(), column))

0 record(s) missing for column Client name
1 record(s) missing for column Industry
1 record(s) missing for column Location
1 record(s) missing for column Position to be closed
1 record(s) missing for column Nature of Skillset
1 record(s) missing for column Interview Type
1 record(s) missing for column Name(Cand ID)
1 record(s) missing for column Gender
1 record(s) missing for column Candidate Current Location
1 record(s) missing for column Candidate Job Location
1 record(s) missing for column Interview Venue
1 record(s) missing for column Candidate Native location
205 record(s) missing for column Have you obtained the necessary permission to start at the required time
248 record(s) missing for column Hope there will be no unscheduled meetings
248 record(s) missing for column Can I Call you three hours before the interview and follow up on your attendance for the interview
248 record(s) missing for column Can I have an alternative number/ desk number. I assure you that I will not trouble you too much
249 record(s) missing for column Have you taken a printout of your updated resume. Have you read the JD and understood the same
249 record(s) missing for column Are you clear with the venue details and the landmark.
246 record(s) missing for column Has the call letter been shared
6 record(s) missing for column Expected Attendance
1 record(s) missing for column Observed Attendance
1 record(s) missing for column Marital Status

Upon looking at the data, we notice that there is always at least one value missing for each column.  For the column with no information missing, there is at least one instance where there is some garbage data.

Additionally, there's always a unqiue value associated with the column Name(Cand ID).  While the column is useless due to already having an index, there is one instance with missing data.  With this information, I speculate that there is a bad record in the dataset.

Let's query the last three records of the dataset:

In [8]:
df.tail(3)

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Have you obtained the necessary permission to start at the required time,Hope there will be no unscheduled meetings,Can I Call you three hours before the interview and follow up on your attendance for the interview,Can I have an alternative number/ desk number. I assure you that I will not trouble you too much,Have you taken a printout of your updated resume. Have you read the JD and understood the same,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status
1231,2016-05-06,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1232,2016-05-06,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1233,Female,Chennai,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncertain,Yes,Single
1233,NaT,﻿﻿,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

My speculation was correct.  The very last record is worthless.  Let's remove the record.

In [9]:
df = df[0:1233]
df.tail(3)

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Have you obtained the necessary permission to start at the required time,Hope there will be no unscheduled meetings,Can I Call you three hours before the interview and follow up on your attendance for the interview,Can I have an alternative number/ desk number. I assure you that I will not trouble you too much,Have you taken a printout of your updated resume. Have you read the JD and understood the same,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status
1230,2016-05-06,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1231,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1231,2016-05-06,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1232,2016-05-06,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1233,Female,Chennai,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncertain,Yes,Single

## Cleaning our dataset <a name="datatag"></a>

Let's relook at the values for several of the columns to see if there is anything we need to clean up.  

First we'll look at the company (Client) name:

In [10]:
column = 'Client name'
getUniqueValueFormatter('Client name')

Column Client name contains values:
	 *Hospira
	 *Aon Hewitt
	 *UST
	 *Standard Chartered Bank
	 *ANZ
	 *Pfizer
	 *Standard Chartered Bank Chennai
	 *Aon hewitt Gurgaon
	 *Astrazeneca
	 *Flextronics

Some of the companies are further specified by the location of the office building.  Since there is a location column, let's just simplify the data.

In [11]:
df.loc[df[column].str.contains("Standard Chartered Bank"), column] = "Standard Chartered Bank"
df.loc[df[column].str.contains("Aon"), column] = "Aon Hewitt"

getUniqueValueFormatter(column)

Column Client name contains values:
	 *Hospira
	 *Aon Hewitt
	 *UST
	 *Standard Chartered Bank
	 *ANZ
	 *Pfizer
	 *Astrazeneca
	 *Flextronics
	 *Prodapt
	 *Williams Lea

Let's look at the industry that the person is applying to:

In [12]:
getUniqueValueFormatter('Industry')

Column Industry contains values:
	 *Pharmaceuticals
	 *IT Services
	 *BFSI
	 *IT Products and Services
	 *Electronics
	 *Telecom
	 *IT

We notice that there are three repeated values representing IT.  Let's condense the repeats into a common value:

In [13]:
df.loc[df['Industry'].str.contains("IT*"), 'Industry'] = "IT"
getUniqueValueFormatter('Industry')

Column Industry contains values:
	 *Pharmaceuticals
	 *IT
	 *Electronics
	 *Telecom

Let's now look at the Location:

In [14]:
getUniqueValueFormatter('Location')

Column Location contains values:
	 *Chennai
	 *Gurgaon
	 *Bangalore
	 *Hyderabad
	 *Gurgaonr
	 *Delhi
	 *chennai
	 *- Cochin-
	 *Noida
	 *CHENNAI

Looks like Chennai is represented in different formats.  Cochin also contains unnecessary characters.  We can solve this by making all strings lowercase and removing unnecessary characters:

In [15]:
df['Location'] = df['Location'].str.strip('- ')
df['Location'] = df['Location'].str.lower()

getUniqueValueFormatter('Location')

Column Location contains values:
	 *chennai
	 *gurgaon
	 *bangalore
	 *hyderabad
	 *gurgaonr
	 *delhi
	 *cochin
	 *noida

Let's look at the position to be closed:

In [16]:
getUniqueValueFormatter('Position to be closed')

Column Position to be closed contains values:
	 *Production- Sterile
	 *Selenium testing
	 *Dot Net
	 *AML
	 *Trade Finance
	 *Routine
	 *Niche

It doesn't look like there's anything to clean up.  Let's look at Nature of Skillset:

In [17]:
column = 'Nature of Skillset'
getUniqueValueFormatter(column, 1000)

Column Nature of Skillset contains values:
	 *Routine
	 *Oracle
	 *Accounting Operations
	 *Banking Operations
	 *Fresher
	 *AML/KYC/CDD
	 *CDD KYC
	 *Biosimiliars
	 *RA Label
	 *RA Publishing
	 *EMEA
	 *LCM -Manager
	 *Licensing – RA
	 *generic drugs – RA
	 *Biosimilars
	 *Regulatory
	 *Analytical R & D
	 *Analytical R&D
	 *Senior software engineer-Mednet
	 *Tech lead-Mednet
	 *Tech Lead- Mednet
	 *Technical Lead
	 *Sr Automation Testing
	 *TL
	 *Senior Analyst
	 *production
	 *Production
	 *Core Java
	 *Java J2EE
	 *Oracle Plsql
	 *Java,SQL
	 *Automation Testing Java
	 *Submission Management
	 *Biosimillar
	 *Publishing
	 *Global Labelling
	 *ALS Testing
	 *Java Developer
	 *Lending and Liabilities
	 *Lending & Liability
	 *Lending And Liabilities
	 *L & L
	 *Banking operations
	 *Lending&Liablities
	 *JAVA/J2EE/Struts/Hibernate
	 *JAVA/SPRING/HIBERNATE/JSF
	 *Java
	 *Java JSF
	 *Java,J2ee, JSF
	 *Java ,J2ee
	 *Java J2ee
	 *11.30 AM
	 *10.00 AM
	 *9.00 Am
	 *12.30 Pm
	 *9.30 AM
	 *11.30 Am
	 *Java, J2Ee
	 *Java,J2EE
	 *Java/J2ee/Core Java
	 *Java/J2ee
	 *JAVA, J2ee
	 *JAVA,J2ee
	 *T-24 developer
	 *COTS Developer
	 *Product Control
	 *Dot Net
	 *COTS
	 *testing
	 *- SAPBO, Informatica
	 *ETL
	 *Java-SAS
	 *Java Tech Lead
	 *Manager
	 *JAVA,SQL
	 *Java, SQL
	 *Hadoop
	 *SCCM
	 *SCCM-(Network, sharepoint,ms exchange)
	 *SCCm- Desktop support
	 *Sccm- networking
	 *sccm
	 *SCCM – SQL
	 *SCCM – Sharepoint
	 *Production Support - SCCM
	 *SAS
	 *BaseSAS Program/ Reporting
	 *Java, Spring, Hibernate
	 *Java,spring,hibernate
	 *Java, XML, Struts, hibernate
	 *JAVA/J2EE
	 *Java

There's definitely room for improvement for this column.  It might be tricky though since skills are specified in a specific manner.  For now, let's generalize some of the data:

In [18]:
df.loc[df[column].str.contains("Java", case=False), column] = "Java"
df.loc[df[column].str.contains("SCCM", case=False), column] = "SCCM"
df.loc[df[column].str.contains("Analytical R & D", case=False), column] = "Analytical R&D"
df.loc[df[column].str.contains("Lending", case=False), column] = "Lending & Liability"
df.loc[df[column].str.contains("L & L", case=False), column] = "Lending & Liability"
df.loc[df[column].str.contains("Tech lead", case=False), column] = "Tech Lead - Mednet"
df.loc[df[column].str.contains("production", case=False), column] = "Production"

getUniqueValueFormatter(column, 1000)

Column Nature of Skillset contains values:
	 *Routine
	 *Oracle
	 *Accounting Operations
	 *Banking Operations
	 *Fresher
	 *AML/KYC/CDD
	 *CDD KYC
	 *Biosimiliars
	 *RA Label
	 *RA Publishing
	 *EMEA
	 *LCM -Manager
	 *Licensing – RA
	 *generic drugs – RA
	 *Biosimilars
	 *Regulatory
	 *Analytical R&D
	 *Senior software engineer-Mednet
	 *Tech Lead - Mednet
	 *Technical Lead
	 *Sr Automation Testing
	 *TL
	 *Senior Analyst
	 *Production
	 *Java
	 *Oracle Plsql
	 *Submission Management
	 *Biosimillar
	 *Publishing
	 *Global Labelling
	 *ALS Testing
	 *Lending & Liability
	 *Banking operations
	 *11.30 AM
	 *10.00 AM
	 *9.00 Am
	 *12.30 Pm
	 *9.30 AM
	 *11.30 Am
	 *T-24 developer
	 *COTS Developer
	 *Product Control
	 *Dot Net
	 *COTS
	 *testing
	 *- SAPBO, Informatica
	 *ETL
	 *Manager
	 *Hadoop
	 *SCCM
	 *SAS
	 *BaseSAS Program/ Reporting

Note that some of our fields contain a time instead of a skill.  It could be possible that the times represent when the candidate is expected to be at work.

Let's look at interview type:

In [19]:
getUniqueValueFormatter('Interview Type')

Column Interview Type contains values:
	 *Scheduled Walkin
	 *Scheduled
	 *Walkin
	 *Scheduled Walk In
	 *Sceduled walkin
	 *Walkin

We have a few problems:

* There are values that are different due to a single whitespace.
* There are three repeats of Scheduled Walkin in different representations.  One of these is spelt incorrectly.
* Is there really a difference between Scheduled and Scheduled Walkin?

For clarity, I would like to reduce Scheduled Walkin to Scheduled.  Now let's clean up this column:

In [20]:
df['Interview Type'] = df['Interview Type'].str.strip()
df.loc[df['Interview Type'].str.contains('Sc*W*'), 'Interview Type'] = "Scheduled"

getUniqueValueFormatter('Interview Type')

Column Interview Type contains values:
	 *Scheduled
	 *Walkin

I previously mentioned that Name(Cand ID) is not very useful since we already have unqiue indexes.  Let's remove this field.

In [21]:
if 'Name(Cand ID)' in df.columns:
    df = df.drop('Name(Cand ID)', axis=1)

if 'Name(Cand ID)' not in df.columns:
    print("Column removed")

Column removed

Let's now check gender:

In [22]:
getUniqueValueFormatter('Gender')

Column Gender contains values:
	 *Male
	 *Female

No need to clean this column.  Let's look at the candidate's current location.  I suspect that there will be similar issues with the column values:

In [23]:
getUniqueValueFormatter('Candidate Current Location')

Column Candidate Current Location contains values:
	 *Chennai
	 *Gurgaon
	 *Bangalore
	 *Hyderabad
	 *Delhi
	 *chennai
	 *- Cochin-
	 *Noida
	 *CHENNAI
	 *chennai

I was correct.  Fortunately, we already have a solution to solve this issue:

In [24]:
column = 'Candidate Current Location'
df[column] = df[column].str.strip('- ')
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Candidate Current Location contains values:
	 *chennai
	 *gurgaon
	 *bangalore
	 *hyderabad
	 *delhi
	 *cochin
	 *noida

Let's see whether the permissions have be granted to start at a specified time:

In [25]:
column = 'Have you obtained the necessary permission to start at the required time'
getUniqueValueFormatter(column)

Column Have you obtained the necessary permission to start at the required time contains values:
	 *Yes
	 *nan
	 *No
	 *Not yet
	 *Yet to confirm
	 *NO
	 *yes
	 *Na

There are a few things to note:

* There are multiple representations for the same value.
* Is there a difference between Yet to confirm and Not yet or NO and Na?
* Since there is some data missing, what should we do with this?

Since "Yet to confirm" and "Not yet" are synomounous, we'll change them to "Not yet".  "Na" could be a misspelling, so we can just change it to "no."

The case of missing data is important to note.  We don't really know what missing data means in this context.  For simplicity sake, let's change this the missing data to "Not yet."

In [26]:
df[column] = df[column].fillna('Not yet')
df.loc[df[column].str.contains('Na'), column] = 'No'
df.loc[df[column].str.contains('Yet to confirm'), column] = 'Not yet'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Have you obtained the necessary permission to start at the required time contains values:
	 *yes
	 *not yet
	 *no

Let's see about unscheduled meetings:

In [27]:
column = 'Hope there will be no unscheduled meetings'
getUniqueValueFormatter(column)

Column Hope there will be no unscheduled meetings contains values:
	 *Yes
	 *Na
	 *No
	 *nan
	 *yes
	 *Not Sure
	 *cant Say
	 *Not sure

Just like with the last column, the notes are exactly the same.  Let's use similar rules

In [28]:
df[column] = df[column].fillna('Not Sure')
df.loc[df[column].str.contains('Na'), column] = 'No'
df.loc[df[column].str.contains('cant'), column] = 'Not Sure'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Hope there will be no unscheduled meetings contains values:
	 *yes
	 *no
	 *not sure

Onto checking before and after an interview:

In [29]:
column = "Can I Call you three hours before the interview and follow up on your attendance for the interview"
getUniqueValueFormatter(column)

Column Can I Call you three hours before the interview and follow up on your attendance for the interview contains values:
	 *Yes
	 *nan
	 *No
	 *No Dont
	 *Na
	 *yes

Unlike the last several cases, missing data doesn't necessarily have a specific meaning.  We could say missing data means no or simply that they don't really know.  For simplicity, let's define missing data as a "Not sure" answer.

In [30]:
df[column] = df[column].fillna('Not sure')
df.loc[df[column].str.contains('Na'), column] = 'No'
df.loc[df[column].str.contains('No'), column] = 'No'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Can I Call you three hours before the interview and follow up on your attendance for the interview contains values:
	 *yes
	 *no

Let's see how users responsed to giving their alternative phone numbers.

In [31]:
column = "Can I have an alternative number/ desk number. I assure you that I will not trouble you too much"
getUniqueValueFormatter(column)

Column Can I have an alternative number/ desk number. I assure you that I will not trouble you too much contains values:
	 *Yes
	 *nan
	 *No
	 *No I have only thi number
	 *na
	 *yes
	 *Na

Seems that we can apply similar data cleaning techniques that we used in the earlier columns:

In [32]:
df[column] = df[column].fillna('No')
df.loc[df[column].str.contains('na'), column] = 'No'
df.loc[df[column].str.contains('No'), column] = 'No'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Can I have an alternative number/ desk number. I assure you that I will not trouble you too much contains values:
	 *yes
	 *no
	 *na

How about getting the latest version of the applicant's resume?

In [33]:
column = "Have you taken a printout of your updated resume. Have you read the JD and understood the same"
getUniqueValueFormatter(column)

Column Have you taken a printout of your updated resume. Have you read the JD and understood the same contains values:
	 *Yes
	 *nan
	 *No
	 *No- will take it soon
	 *Not yet
	 *na
	 *yes
	 *Na
	 *Not Yet

We'll apply the following lines to clean out this column:

In [34]:
df[column] = df[column].fillna('Not Yet')
df.loc[df[column].str.contains('No-'), column] = 'No'
df.loc[df[column].str.contains('Na', case=False), column] = 'no'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Have you taken a printout of your updated resume. Have you read the JD and understood the same contains values:
	 *yes
	 *not yet
	 *no

How about venue details and landmark?

In [35]:
column = "Are you clear with the venue details and the landmark."
getUniqueValueFormatter(column)

Column Are you clear with the venue details and the landmark. contains values:
	 *Yes
	 *nan
	 *No
	 *No- I need to check
	 *na
	 *yes
	 *Na
	 *no

In this case, "I need to check" doesn't necessarily mean "no".

In [36]:
df[column] = df[column].fillna('I need to check')
df.loc[df[column].str.contains('No-'), column] = 'I need to check'
df.loc[df[column].str.contains('Na', case=False), column] = 'no'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Are you clear with the venue details and the landmark. contains values:
	 *yes
	 *i need to check
	 *no

Checking whether the call letter was shared:

In [37]:
column = "Has the call letter been shared"
getUniqueValueFormatter(column)

Column Has the call letter been shared contains values:
	 *Yes
	 *nan
	 *Havent Checked
	 *No
	 *Need To Check
	 *Not sure
	 *Yet to Check
	 *Not Sure
	 *Not yet
	 *no

We have several representations of "Haven't checked".  Let's group these representations into "Need To Check"

In [38]:
df[column] = df[column].fillna('Need To Check')
df.loc[df[column].str.contains('H'), column] = 'Need To Check'
df.loc[df[column].str.contains('Yet'), column] = 'Need To Check'
df.loc[df[column].str.contains('Not'), column] = 'Need To Check'
df.loc[df[column].str.contains('na', case=False), column] = 'No'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Has the call letter been shared contains values:
	 *yes
	 *need to check
	 *no

Is the candidate's attendance expected?

In [39]:
column = "Expected Attendance"
getUniqueValueFormatter(column)

Column Expected Attendance contains values:
	 *Yes
	 *Uncertain
	 *No
	 *NO
	 *yes
	 *nan
	 *11:00 AM
	 *10.30 Am

Interestingly, we even get specific times that the candidate will attend.  For simplicity, specified times are a "Yes."

In [40]:
df[column] = df[column].fillna('Uncertain')
df.loc[df[column].str.contains('1'), column] = 'Yes'
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Expected Attendance contains values:
	 *yes
	 *uncertain
	 *no

Did the candidate attend?

In [41]:
column = "Observed Attendance"
getUniqueValueFormatter(column)

Column Observed Attendance contains values:
	 *No
	 *Yes
	 *yes
	 *no
	 *yes
	 *No
	 *NO
	 *no

Cleaning this column is simply removing all trailing whitespace and lowercasing all of the letters:

In [42]:
df[column] = df[column].str.strip()
df[column] = df[column].str.lower()

getUniqueValueFormatter(column)

Column Observed Attendance contains values:
	 *no
	 *yes

Finally, let's check marital status:

In [43]:
column = "Marital Status"
getUniqueValueFormatter(column)
df[column] = df[column].str.lower()

Column Marital Status contains values:
	 *Single
	 *Married

The data in this column is clean, so we just need to lowercase the data.

# Conclusion

With the data now cleaned, let's export the csv file for future usage.

In [44]:
df.to_csv("Interview-Cleaned.csv")

For future reference, we should be able to perform EDA and model training without having to deal with garbage data.